<div id='found-words'>
	Words Found from 
	<% @chosen_letters.each do |letter| %>
		<span class='letter'><%=letter.upcase%></span>
	<% end %>
	<p>
		<% @found_words.each do |word| %>
			<% unless word == @found_words.last %>
				<span class='word'><%= word %>,</span>
			<% else %>
				<span class='word'><%= word %></span>
			<% end %>
		<% end %>
	</p>
</div>

<div id='best-word'>
	<p>Best Word: 
		<% @best_words[0].each do |word| %>
			<span class='word'><%=word%></span>
		<% end %>
	</p>
	<p>Value: <%=@best_words[1]%></p>
	<a class="submit" href="/">Reset</a>
</div>

